<style>
    h1 {
        text-align: center;
        margin-top: 100px;
    }

    a {
        display: block;
        text-align: center;
    }
</style>
<h1>Apointment Booked successfully</h1>
<a href="./">Book more</a>
<a href="./list">Check list</a>