<style>
    h1 {
        text-align: center;
        margin-top: 100px;
    }

    a {
        display: block;
        text-align: center;
    }
</style>
<h1>Apointment failed because of invalid Time</h1>
<a href="./">Try again</a>