<style>
    h1 {
        text-align: center;
        margin-top: 100px;
    }

    a {
        display: block;
        text-align: center;
    }
</style>
<h1>Booking apointment is not allowed by now. please try again later</h1>
<a href="./">Home</a>